nav#nav-bar > div.col-1 ul li:nth-of-type(4) {
    background-color: var(--accent-300);
}

body {
    padding-bottom: 15vh;
}

header.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10vh 0px 10vh;
    padding: 0px 5vw;
}
header.main-header .col-1 {
    width: 30%;
}
header.main-header .col-2 {
    width: 70%;
    padding-left: 5vw;
}

header.main-header .col-1 img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 1000px;
}
header.main-header .col-2 h1 {
    font-size: 5em;
    line-height: 1em;
}
header.main-header .col-2 p {
    font-size: 1.5em;
    line-height: 2em;
    color: inherit;
}
header.main-header .col-2 p * {
    color: var(--text-900);
}

.bio-grid {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    /* grid-template-columns: 2fr 3fr 3fr 2fr 1fr 3fr;; */
    grid-template-columns: 1fr 4fr 4fr 1fr 2fr 2fr;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    padding: 0px 2vw;
}
.bio-card {
    border-radius: 32px;
    padding: 30px 20px;
    background-color: var(--primary-100);
    border: 1px solid var(--primary-200);
    box-shadow: 0px 0px 10px var(--primary-200); /* fallback for older browsers */
    box-shadow: 0px 0px 10px color-mix(in srgb, var(--primary-200) 25%, transparent);
}
.bio-card h1 {
    font-size: 2.5em;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 5px;
    text-decoration-color: var(--primary-300);
}

.card-1-1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
}
.card-1-2 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
}
.card-1-3 {
    grid-column: 5 / span 2;
    grid-row: 1 / span 1;
}

.card-2-1 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}
.card-2-2 {
    grid-column: 4 / span 2;
    grid-row: 2 / span 1;
}
.card-2-3 {
    grid-column: 6 / span 1;
    grid-row: 2 / span 1;
}

.card-3-1 {
    grid-column: 3 / span 3;
    grid-row: 3 / span 1;
}
.card-3-2 {
    grid-column: 6 / span 1;
    grid-row: 3 / span 1;
}
.job-timeline {
    margin-top: 20px;
}
.job-timeline .job-placement {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    gap: 20px;
    min-height: 100%;
}
.job-timeline .job-placement .col-1 {
    width: 20%;
    min-height: 100%;
}
.job-timeline .job-placement .col-1 .timeline-label {
    margin-left: 50%;
    width: 5px;
    border: 5px solid var(--secondary-300);
    min-height: 100%;
    padding-top: 50%;
}
.job-timeline .job-placement:first-of-type .col-1 .timeline-label {
    border-radius: 1000px 1000px 0px 0px;
}
.job-timeline .job-placement:last-of-type .col-1 .timeline-label {
    border-radius: 0px 0px 1000px 1000px;
}
.job-timeline .job-placement .col-1 .timeline-label p {
    transform: translateX(-50%);
    font-size: 1em;
    width: max-content;
    display: block;
    background-color: var(--secondary-200);
    padding: 10px 15px;
    border-radius: 1000px;
}

.job-timeline .job-placement .col-2 {
    padding-top: 20px;
    width: 80%;
}
.job-timeline .job-placement:not(:first-of-type) .col-2 {
    padding-top: 50px;
}
.job-timeline .job-placement .col-2 .location {
    display: flex;
    align-items: center;
    gap: 0.2em;
    font-size: 1em;
    font-weight: 600;
    color: var(--text-600);
}
.job-timeline .job-placement .col-2 .location i {
    font-size: inherit;
}
.job-timeline .job-placement .col-2 h2 {
    margin-top: 8px;
}
.job-timeline .job-placement .col-2 p {
    margin: 10px 0px 0px 1em;
    color: var(--text-800);
}

/* Bio Card */
.card-1-2 {
    
}
.card-1-2 p {
    margin: 20px 20px 0px;
    color: var(--text-800);
}

/* Bible Verse Card */
.card-1-3 header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    margin-bottom: 20px;
}
.card-1-3 header .bible-selector-buttons {
    display: flex;
    gap: 10px;;
    border: 1px solid var(--primary-200);
    border-radius: 1000px;
    
    -webkit-user-select: none;
    user-select: none;
}
.card-1-3 header .bible-selector-buttons div {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}
.card-1-3 header .bible-selector-buttons div i {
    font-size: 2em;
}
.card-1-3 p#verse-content {
    color: var(--text-800);
}
.card-1-3 p#verse-ref {
    color: var(--text-900);
    display: block;
    font-size: 1.2em;
    font-weight: 600;
    margin: 10px 0px 0px 0px;
}

/* Picture card */
.card-2-1 {
    padding: 0px;
}
.card-2-1 div {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

/* Fade in keyframe (Set in javascript for slideshow) */
@keyframes image-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.card-2-1 img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

/* Quick Facts Card */
.card-2-2 ul {
    margin: 20px 0px 0px 2em;
}
.card-2-2 ul li {
    line-height: 1.4em;
    color: var(--text-800);
}

/* Languages card */
.card-2-3 {
    /* padding: 10px 0px 0px 0px; */
}
.card-2-3 .languages-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 15px;
    margin-top: 20px;
}
.card-2-3 .languages-grid .language-item {
    padding: 15px 0px 15px 10px;
    background-color: var(--primary-50);
    border: 1px solid var(--primary-200);
    border-radius: 16px;
    color: var(--text-800);
    font-weight: bold;
}
/* .card-2-3 .languages-grid .language-item:hover {
    background-color: var(--secondary-100);
    transition: background-color 0.1s ease;
} */

/* Links card */
.card-3-1 {
    display: flex;
    gap: 25px;
    align-items: center;
    padding: 20px 3em 20px 3em;
}
.card-3-1 a {
    display: block;
    width: 100%;
}
.image-spacer {
    width: 20px;
}

/* Source card */
.card-3-2 {
    display: flex;
    align-items: center;
}
.card-3-2 a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-800);
    text-decoration: none;
    font-size: 2em;
    font-weight: 600;
}
.card-3-2 a:hover {
    color: var(--primary-600);
    text-decoration: underline;
    transition: color 0.2s ease, text-decoration 0.2s ease;
}
.card-3-2 a i {
    font-size: inherit;
}

/* Tablets */
/* @media screen and (max-width: 1400px) {
    .bio-grid {
        width: 100%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 4fr 2fr 4fr 1fr 2fr 1fr;
        grid-template-rows: auto auto 1fr;
        gap: 20px;
        padding: 0px 2vw;
    }
} */
@media screen and (max-width: 1400px) {
    .bio-grid {
        grid-template-columns: 12fr 4fr 4fr 3fr;
        grid-template-rows: 1fr auto auto auto auto;
        padding: 0px 4vw;
    }

    /* Timeline */
    .card-1-1 {
        grid-column: 1 / span 3;
        grid-row: 1 / span 2;
    }
    /* Links */
    .card-3-1 {
        grid-column: 4 / span 1;
        grid-row: 1 / span 2;
        flex-direction: column;
        padding: 15px;
    }
    @media screen and (max-width: 850px) {
        .bio-grid {
            /* Resizes columns for better sizing */
            grid-template-columns: 12fr 5fr 5fr 5fr;
            grid-template-rows: 1fr auto auto auto auto;
            padding: 0px 4vw;
        }
    }

    .card-3-1 a {
        width: 100%;
    }

    /* Bio */
    .card-1-2 {
        grid-column: 1 / span 4;
        grid-row: 3 / span 1;
    }

    /* Bible Verse */
    .card-1-3 {
        grid-column: 1 / span 2;
        grid-row: 4 / span 1;
    }
    /* Image Slideshow */
    .card-2-1 {
        grid-column: 3 / span 2;
        grid-row: 4 / span 1;
    }

    /* Quick Facts */
    .card-2-2 {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
    }
    /* Languages */
    .card-2-3 {
        grid-column: 2 / span 3;
        grid-row: 5 / span 1;
        /* display: none; */
    }

    /* Source code */
    .card-3-2 {
        grid-column: 1 / span 4;
        grid-row: 6 / span 1;
    }
}

/* Mobile */
@media screen and (max-width: 700px) {
    header.main-header .col-1 {
        width: 25%;
    }
    header.main-header .col-2 {
        width: 75%;
        /* padding-left: 5vw; */
    }

    header.main-header .col-1 img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 1000px;
    }
    header.main-header .col-2 h1 {
        font-size: 2.5em;
        line-height: 1em;
    }
    header.main-header .col-2 p {
        font-size: 1em;
        line-height: 2em;
        color: inherit;
    }
    header.main-header .col-2 p * {
        color: var(--text-900);
    }

    .job-timeline .job-placement .col-1 {
        width: 30%;
    }
    .job-timeline .job-placement .col-2 {
        width: 70%;
    }

    .bio-grid {
        grid-template-columns: auto;
        grid-template-rows: 1fr auto auto auto auto;
    }

    .card-1-1 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    .card-1-2 {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    .card-1-3 {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }

    .card-2-1 {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }
    .card-2-2 {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
    }
    .card-2-3 {
        grid-column: 1 / span 1;
        grid-row: 6 / span 1;
    }

    .card-3-1 {
        grid-column: 1 / span 1;
        grid-row: 7 / span 1;
        flex-direction: row;
        gap: 20px 10px;
        padding: 20px;
    }
    .card-3-2 {
        grid-column: 1 / span 1;
        grid-row: 8 / span 1;
    }
}