.section {
    width: 100%;
    /* border: 1px solid blue; */
}

/* Section 1, name */
.section1 {
    height: 100vh;
    background-color: var(--background-50);
    background-image: url('/assets/images/forest.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: bottom left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1 > * {
    overflow: hidden;
}
.section1 .col-1 {
    width: 12%;
    order: 1;
}
.section1 .col-2 {
    width: 48%;
    order: 2;
}
.section1 .col-3 {
    width: 40%;
    order: 3;
}

/* Section 1 -> column 1 styles */
.socials {
    max-width: 40px;
    margin-left: 2vw;
}
.section1 .col-1 .socials .social-sec  {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section1 .col-1 .socials .social-sec:last-of-type  {
    /* border: 1px solid blue; */
    margin-top: 40px;
}
.social-sec img {
    max-width: 100%;
    gap: 10px;
}

/* Section 1 -> column 2 styles */
.section1 .col-2 .name {
    font-size: 7em;
    line-height: 1em;
    font-family: "Cal Sans", sans-serif;
}

/* Section 1 -> column 3 styles */
.section1 .col-3 .image-container {
    padding: 80px;
    /* background-image: url('/assets/chris.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}
.section1 .col-3 .image-container img {
    border-radius: 1000px;
}

/* Section 2, bio */
.section2 {
    height: 100vh;
    background-color: var(--background-100);
    display: flex;
    justify-content: space-between;
}
.section2 > .col-1 {
    width: 55%;
    order: 1;
    padding: 10vh 0vw 10vh 5vw;
}
.section2 > .col-2 {
    width: 45%;
    order: 2;
    display: flex;
    justify-content: center;
}

.section2 .col-1 h1 {
    font-size: 4em;
    margin-bottom: 20px;
}
.section2 .col-1 article {
    font-size: 1.2em;
    margin-left: 3vw;
}
.section2 .col-1 article p {
    margin-top: 1.5em
}

.section2 .col-2 iframe {
    width: 50%;
    height: 70%;
    align-self: center;
    object-fit: cover;
    background-color: black;
    margin-top: 3em;
}

/* Section 3, featured projects */
.section3 {
    height: 80vh;
    background-color: var(--background-50);
    display: flex;
    justify-content: space-between;
}
.section3 > .col-1 {
    width: 15%;
    order: 1;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: start;
    padding: 5vh 0px 8vh 2vw;
    height: 100%;
}
.section3 > .col-2 {
    width: 85%;
    order: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section3 > .col-1 h1 {
    font-size: 3em;
    writing-mode: sideways-lr;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 10px;
    text-decoration-color: var(--accent-500);
}
.section3 > .col-1 nav {
    margin-left: 4vw;
    writing-mode: sideways-lr;
    height: 90%;
    border-radius: 1000px;
    display: flex;
    background-color: var(--primary-100);
    border: 1px solid var(--text-200);
}
.section3 > .col-1 nav div {
    font-size: 1.5em;
    height: 50%;
    padding: 20px 12px;
    cursor: pointer;
}
.section3 > .col-1 nav div:first-of-type {
    border-radius: 1000px;
    background-color: var(--secondary-100);
    border: 1px solid var(--text-200);
}

.section3 > .col-2 .col-2-1 {
    width: 70%;
    padding-left: 3vw;
    max-height: 80%;
}
.section3 > .col-2 .col-2-2 {
    width: 30%;
}

.project-card-link {
    text-decoration: none;
    color: inherit;
}
.project-card {
    width: 70%;
    display: flex;
    gap: 20px;
    background-color: var(--secondary-50);
    border: 1px solid var(--text-200);
    border-radius: 16px;
    margin-bottom: 20px;
}
.project-card img {
    width: 20%;
    border-radius: inherit;
}
.project-card .project-card-text h2 {
    margin-top: 10px;
    font-size: 2em;
}
.project-card .project-card-text p {
    margin: 20px 15px 0px 15px;
}

/* Section 4, featured blog posts */

/* Section 5, languages */
.section5 {
    height: 80vh;
    background-color: var(--background-100);
    display: flex;
    justify-content: space-between;
}
.section5 > .col-1 {
    width: 30%;
    order: 1;
    background-color: var(--background-50);
    padding: 10vh 2vw 0vh;
}
.section5 > .col-2 {
    width: 70%;
    order: 2;
    padding: 10vh 2vw;
}

.section5 .col-1 h1 {
    font-size: 2.5em;
    margin: 0px 0px 30px;
}

.section5 .col-1 nav {
    width: 100%;
    margin: auto;
}
.section5 .col-1 nav > div {
    display: block;
    padding: 10px 20px;
    margin: 5px 0px;
    border-radius: 1000px;
    color: inherit;
    text-decoration: none;
    font-size: 1.2em;
    cursor: pointer;
}
.section5 .col-1 nav > div:first-of-type {
    background-color: var(--primary-100);
    border: 1px solid var(--text-200);
}

.section5 .col-2 .language-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 16px;
    gap: 0px;
    margin: 30px auto 0px;
    width: 90%;
}
.section5 .col-2 .language-grid .language-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    background-color: var(--primary-50);
    border: 1px solid var(--text-200);
    *:not(header, header *) {
        display: none;
    }
}
.section5 .col-2 .language-grid .language-card:hover {
    background-color: var(--secondary-100);
    *:not(header) {
        display: block;
        transition: display 5s ease;
    }
    transition: background-color 0.3s ease;
}

.section5 .col-2 .language-grid .language-card header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.section5 .col-2 .language-grid .language-card header .language-level {
    border: 1px solid var(--text-200);
    background-color: var(--accent-200);
    padding: 5px 15px;
    text-align: center;
    border-radius: 1000px;
}
.section5 .col-2 .language-grid .language-card header .core {
    background-color: var(--core);
}
.section5 .col-2 .language-grid .language-card header .medium {
    background-color: var(--medium);
}
.section5 .col-2 .language-grid .language-card header .complex {
    background-color: var(--complex);
}
.section5 .col-2 .language-grid .language-card article {
    margin-top: 10px;
}
.section5 .col-2 .language-grid .language-card .link-button {
    align-self: flex-end;
    margin-top: 50px;
    font-size: 0.8em;
    background-color: var(--primary-100);
    border: 1px solid var(--text-200);
}