.section {
    width: 100%;
    border: 1px solid blue;
}

/* Section 1, name */
.section1 {
    height: 100vh;
    background-color: var(--background-100);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.section1 > * {
    border: 1px solid red;
    overflow: hidden;
}
.section1 .col-1 {
    width: 10%;
    order: 1;
}
.section1 .col-2 {
    width: 50%;
    order: 2;
}
.section1 .col-3 {
    width: 40%;
    order: 3;
}

/* Section 1 -> column 1 styles */
.socials {
    max-width: 40px;
}
.section1 .col-1 .socials .social-sec  {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section1 .col-1 .socials .social-sec:last-of-type  {
    border: 1px solid blue;
    margin-top: 25px;
}
.social-sec img {
    width: 100%;
    gap: 10px;
}

/* Section 1 -> column 2 styles */
.section1 .col-2 .name {
    font-size: 6em;
}

/* Section 1 -> column 3 styles */
.section1 .col-3 .image-container {
    padding: 80px;
    /* background-image: url('/assets/chris.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}
.section1 .col-3 .image-container img {
    border-radius: 1000px;
}

/* Section 2, bio */
.section2 {
    height: 100vh;
    background-color: var(--background-100);
}