nav#nav-bar > div.col-1 ul li:nth-of-type(2) {
    background-color: var(--accent-300);
}

body {
    padding: 0;
}

main {
    display: flex;
    height: 80vh;
    align-items: center;
    /* gap: 20px; */
    margin: 15vh 0 5vh 0;
}
main .col-1 {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
}
main .col-2 {
    width: 70%;
    height: 100%;
    background-color: var(--primary-100);
    border: 1px solid var(--primary-200);
    border-radius: 32px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-right: 8vw;
}

main .col-1 img {
    width: 30%;
    border-radius: 16px;
}
main .col-1 h1 {
    margin-top: 20px;
    font-size: 2em;
    text-align: center;
}
main .col-1 p {
    margin-top: 10px;
    color: var(--text-900);
}
main .col-1 .languages {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
main .col-1 .languages span {
    display: block;
    border-radius: 100px;
    padding: 5px 10px;
    background-color: var(--accent-100);
    font-weight: 500;
    font-size: 0.8em;
}

/* Col 2 */
main .col-2 .project-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--primary-200);
}
main .col-2 .project-nav div {
    flex-basis: 50%;
    text-align: center;
    cursor: pointer;
    padding: 20px 0px;
    font-size: 1.2em;
    transition: background-color 0.2s ease;
}
main .col-2 .content {
    padding: 4vh 2vw;
    overflow-x: scroll;
}
main .col-2 .project-nav div.selected {
    background-color: var(--secondary-200);
    font-weight: 600;
    transition: background-color 0.2s ease, font-weight 0.2s ease;
}
main .col-2 .project-nav div:hover {
    background-color: var(--secondary-100);
    transition: background-color 0.2s ease;
}
main .col-2 .content .slideshow {
    display: flex;
    width: 100%;
    gap: 10px;
    margin: 20px 0px 0px 40px;
    overflow-x: auto;
    flex-wrap: nowrap;
}
main .col-2 .content .slideshow img {
    flex-shrink: 0;
    width: 50%;
    border-radius: 16px;
    border: 1px solid var(--primary-200);
}
main .col-2 .content section {
    margin: 20px 0px 0px;
}
main .col-2 .content h1 {
    font-size: 2.5em;
}
main .col-2 .content h2 {
    font-size: 2em;
}
main .col-2 .content p {
    margin-top: 10px;
    font-size: 1em;
    margin-left: 20px;
}