body {
    background-color: var(--background-50);
    color: var(--text-950);
}

nav.nav-bar {
    background-color: var(--background-50);
    border: 2px solid var(--text-100);
    border-radius: 16px;
    padding: 10px 20px;
    font-size: 20px;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2vh;
}
nav.nav-bar .col-1, nav.nav-bar .col-2, nav.nav-bar .col-3 {
    /* border: 1px solid red; */
}
nav.nav-bar .col-1 {
    width: 15%;
    order: 1;
    font-size: 0.7em;
}

nav.nav-bar .col-2 {
    width: 70%;
    order: 2;
}

nav.nav-bar .col-3 {
    width: 15%;
    order: 3;
    text-align: right;
}

nav.nav-bar .col-2 ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}
nav.nav-bar .col-2 ul li a {
    text-decoration: none;
    color: var(--text-950);
}

.link-button {
    margin-top: 20px;
    border-radius: 1000px;
    background-color: var(--primary-200);
    width: fit-content;
    padding: 10px 20px;
}
.link-button a {
    color: var(--text-950);
    text-decoration: none;
    font-size: 1.2em;
}