@font-face {
    font-family: "Cal Sans";
    src: url("/assets/fonts/Cal_Sans/CalSans-Regular.ttf");;
}
@font-face {
    font-family: Gantari;
    src: url("/assets/fonts/Gantari/Gantari-VariableFont_wght.ttf");
}
@font-face {
    font-family: "sans bartle";
    src: url('/assets/fonts/BBH_Sans_Bartle/BBHSansBartle-Regular.ttf');
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24 
}

body {
    background-color: var(--background-50);
    color: var(--text-950);
    font-family: Gantari;
    font-weight: 400;
}

/* nav#nav-bar {
    background-color: var(--background-50);
    border: 2px solid var(--text-100);
    border-radius: 16px;
    padding: 10px 20px;
    font-size: 20px;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2vh;
}
nav#nav-bar .col-1 {
    width: 15%;
    order: 1;
    font-size: 0.7em;
}

nav#nav-bar .col-2 {
    width: 70%;
    order: 2;
}

nav#nav-bar .col-3 {
    width: 15%;
    order: 3;
    text-align: right;
}

nav#nav-bar .col-2 ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}
nav#nav-bar .col-2 ul li a {
    text-decoration: none;
    color: var(--text-950);
} */

nav#nav-bar {
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 25px;
}
nav#nav-bar > div {
    width: fit-content;
    font-size: 1em;
    font-weight: 600;
}
nav#nav-bar > div ul {
    list-style: none;
    display: flex;
    gap: 10px;
    border-radius: 1000px;
    background-color: var(--primary-100);
    padding: 5px;
}
nav#nav-bar > div ul li {
    /* border: 1px solid var(--primary-200); */
    background-color: var(--primary-200);
    padding: 10px 20px;
    border-radius: inherit;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
nav#nav-bar > div ul li:hover {
    background-color: var(--secondary-200) !important;
    padding: 10px 30px;
    transition: all 0.3s ease-in-out;
}
nav#nav-bar > div ul li a {
    text-decoration: none;
    color: var(--text-900);
}

.link-button {
    margin-top: 20px;
    border-radius: 1000px;
    background-color: var(--primary-200);
    box-shadow: 0px 0px 10px var(--primary-200); /* fallback for older browsers */
    box-shadow: 0px 0px 10px color-mix(in srgb, var(--primary-200) 30%, transparent);
    width: fit-content;
    padding: 10px 20px;
    cursor: pointer;
}
.link-button a {
    display: inline-block;
    position: relative;
    color: var(--text-950);
    text-decoration: none;
    font-size: 1.2em;
}
.link-button:hover {
    background-color: var(--secondary-100);
    outline: 1px solid var(--secondary-200);
    box-shadow: 0px 0px 10px var(--secondary-200); /* fallback for older browsers */
    box-shadow: 0px 0px 10px color-mix(in srgb, var(--secondary-200) 30%, transparent);
    transition: all 0.2s ease;
}

.link-button a::after {
    content: '';
    position: absolute;
    transform: scaleX(0);
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--accent-500);
    border-radius: 1000px;
    transform-origin: left;
    transition: transform 0.2s ease-out;
}
.link-button:hover a::after {
    transform: scaleX(1);
}

/* Specifies box shadows for different coding languages in classes */
.lang-html {
    box-shadow: 0px 0px 4px 2px #e34c264d;
}
.lang-css {
    box-shadow: 0px 0px 4px 2px #264de44d;
}
.lang-js {
    box-shadow: 0px 0px 4px 2px #f0db4f4d;
}
.lang-java {
    box-shadow: 0px 0px 4px 2px #f898204d;
}
.lang-javafx {
    box-shadow: 0px 0px 4px 2px #5382a14d;
}
.lang-flutter {
    box-shadow: 0px 0px 4px 2px #027DFD4d;
}
.lang-dart {
    box-shadow: 0px 0px 4px 2px #5AC5B04d;
}
.lang-php {
    box-shadow: 0px 0px 4px 2px #8993BE4d;
}