nav#nav-bar > div.col-1 ul li:nth-of-type(2) {
    background-color: var(--accent-300);
}

.work-header {
    padding-top: 10vh;
    width: 100%;
}
.work-header .work-nav .col-1 {
    width: 25%;
}
.work-header .work-nav .col-2 {
    width: 50%;
}
.work-header .work-nav .col-3 {
    width: 25%;
    padding: 0px 20px;
}

/* Work Selector (Coding or music) */
.work-header h1 {
    text-align: center;
    font-size: 4em;
}

.work-header .work-nav {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

/* Work Type Col */
.work-type {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 2vw;
}
.work-type div {
    width: 50%;
    background-color: var(--primary-100);
    border: 1px solid var(--primary-200);
    padding: 10px 15px;
    border-radius: 1000px;
    cursor: pointer;
}

/* Filters */

/* Search Bar */
.work-header .work-nav .col-3 #search {
    display: flex;
    align-items: stretch;
    width: 100%;
    background-color: var(--primary-100);
    border: 1px solid var(--primary-200);
    border-radius: 1000px;
}
.work-header .work-nav .col-3 #search #search-bar {
    width: 85%;
    padding: 10px 15px;
    border-radius: 1000px;
    color: var(--text-300);
}
.work-header .work-nav .col-3 #search:focus-within {
    border: 1px solid var(--secondary-200);
}
.work-header .work-nav .col-3 #search #search-bar:focus {
    color: var(--text-200);
}
.work-header .work-nav .col-3 #search button {
    width: 15%;
    aspect-ratio: 1 / 1;
    background-color: var(--secondary-100);
    border: 1px solid var(--secondary-200);
    border-radius: 1000px;
    padding: auto;
}

/* Coding content styler */
.coding-content {
    margin-top: 50px;
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.coding-content .work-card {
    background-color: var(--primary-100);
    border: 1px solid var(--primary-200);
    border-radius: 32px;
}
.coding-content .work-card img {
    border-radius: 32px 32px 0px 0px;
    border: none;
}
.coding-content .work-card .work-card-content {
    margin: 10px 15px 20px;
}
.coding-content .work-card .work-card-content .work-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}
div.link-button {
    margin: 0px;
    font-size: 0.8em;
    padding: 10px 15px;
    border: 1px solid var(--primary-300);
}
/* Music Content Styles */