.projectCard {
    display: flex;
    width: 100%;
    align-items: flex-start;

    border-radius: 32px;
    border: 1px solid var(--primary-200, #3F3C27);
    background: var(--primary-100, #201E13);

    text-decoration: none !important;
}
.projectCard:hover {
    transform: scale(1.02);
    text-decoration: underline;

    transition: transform 0.1s ease-in-out;
}
.projectCard .image {
    display: flex;
    width: 405.002px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    aspect-ratio: 3/2;

    img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 3/2;
        border-radius: 32px 0 0 32px;
    }
}

.projectCard .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    align-self: stretch;
    flex: 1 0 0;

    .textContainer {
        display: flex;
        padding: 30px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;
        gap: 6px;
        flex: 1;

        h3 {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1; /* Change this number to clamp at different lines */
            line-clamp: 1;
            overflow: hidden;
        }

        p {
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            color: var(--text-100, #EFECDC);

            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5; /* Change this number to clamp at different lines */
            line-clamp: 5;
            overflow: hidden;
        }
    }

    .footer {
        display: flex;
        padding: 16px;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;

        background: var(--background-50, #121007);
        border-radius: 0 0 32px 0;

        .date {
            color: var(--text-200, #E0DAB8);
            font-family: var(--body-typeface, Inter) sans-serif;
            font-size: var(--body, 16px);
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        .languages {
            display: flex;
            align-items: flex-start;
            gap: 6px;

            img {
                height: 16px;
            }
        }
    }
}