/* 
Coded by: Christian Moloci
About Page Styles
*/

/* Set the background color */
body {
    background-color: black;
}

/* Shows the current selected page in the nav bar */
nav > ul > li:nth-of-type(5) {
    transition: background-color 0.8s;
    backdrop-filter: blur(5px);
    background-color: #121212;
    border-radius: 25px;
    padding: 6px 15px 6px 15px;
}
nav > ul > li:nth-of-type(5):hover {
    transition: background-color 0.8s;
    background-color: #fafafacc;
}
nav > ul > li:nth-of-type(5) * {
    transition: color 0.8s;
    color: white;
}
nav > ul > li:nth-of-type(5):hover * {
    transition: color 0.8s;
    color: black;
}

/* main {
    display: flex;
    flex-direction: column;
} */

/* First impressions is a quick intro/preview section of the page */
main > section:first-of-type {
    margin-top: 10%;
    display: flex;
}
main > section:first-of-type section {
    width: 50%;
}
main > section:first-of-type img {
    transition: scale 0.4s;
    scale: 1;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 32px;
    box-shadow: 0px 0px 30px -8px rgb(49, 49, 49);
}
main > section:first-of-type img:hover {
    transition: scale 0.4s;
    scale: 1.04;
}
/* Style the specs table and its elements */
table {
    border-radius: 16px;
    box-shadow: 0px 0px 30px -8px rgb(49, 49, 49);
}
table * {
    width: 50%;
    text-align: left;
    padding: 8px;
    font-size: 1.05em;
}
tr:first-of-type th {
    border-radius: 16px 0px 0px 0px;
}
tr:first-of-type td {
    border-radius: 0px 16px 0px 0px;
}
tr:last-of-type th {
    border-radius: 0px 0px 0px 16px;
}
tr:last-of-type td {
    border-radius: 0px 0px 16px 0px;
}
tr:nth-child(odd) {
    background-color: #121212;
}

/* About text represents the collection of articles which talk about me */
main > section:last-of-type {
    box-sizing: border-box;
    margin: 0px 10% 80px 10%;
    width: 60%;
}
/* Set the style of the main title for the aboutText element */
main > section:last-of-type h1 {
    font-size: 3em;
    line-height: 1em;
    text-decoration: underline;
    text-decoration-color: orangered;
    text-decoration-thickness: 5px;
    text-underline-offset: 3px;
}

/* Set styling of each article and its content */
main > section:last-of-type article > h2 {
    font-size: 30px;
}
main > section:last-of-type article > dl > dt {
    font-size: 1.4em;
}
main > section:last-of-type article > dl > dd > dl > dt {
    font-size: 1.2em;
}
/* main > section:last-of-type article > dl > dd > dl {
    font-size: 0.3em;
} */

/* For smaller displays */
@media screen and (max-width: 1019px) {
    /* Set the styles for the body */
    body {
        margin-bottom: 80px;
    }

    /* Change layout, posistioning, and styling for the first impressions section */
    main > section:first-of-type {
        flex-direction: column;
        align-items: center;
    }
    main > section:first-of-type img {
        width: 100%;
    }
    main > section:first-of-type section {
        width: 80%;
    }
    table {
        width: 100%;
    }

    /* Change some dimensions/sizing for the aboutText section */
    main > section:last-of-type {
        margin: 0px;
        padding: 50px 3em 100px 3em;
        width: 100%;
    }
    main > section:last-of-type h1 {
        text-align: center;
    }
}