body {
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
}

div.firstImpression {
    margin-top: 10%;
    display: flex;
    /* border: 1px solid white; */

}
div.firstImpression div {
    width: 50%;
}
div.firstImpression img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 32px;
    box-shadow: 0px 0px 30px -8px rgb(49, 49, 49);
}
table {
    border-radius: 16px;
    box-shadow: 0px 0px 30px -8px rgb(49, 49, 49);
}
table * {
    width: 50%;
    text-align: left;
    padding: 8px;
    font-size: 1.05em;
}
tr:first-of-type th {
    border-radius: 16px 0px 0px 0px;
}
tr:first-of-type td {
    border-radius: 0px 16px 0px 0px;
}
tr:last-of-type th {
    border-radius: 0px 0px 0px 16px;
}
tr:last-of-type td {
    border-radius: 0px 0px 16px 0px;
}
tr:nth-child(odd) {
    background-color: #121212;
}

div.aboutText {
    box-sizing: border-box;
    margin: 0px 10% 80px 10%;
    width: 60%;
}
div.aboutText h1 {
    font-size: 3em;
    line-height: 1em;
    text-decoration: underline;
    text-decoration-color: orangered;
    text-decoration-thickness: 5px;
    text-underline-offset: 3px;
}
div.aboutText article > h2 {
    font-size: 30px;
}

@media screen and (max-width: 1019px) {
    div.firstImpression {
        flex-direction: column;
        align-items: center;
    }
    div.firstImpression img {
        width: 100%;
    }
    div.firstImpression div {
        width: 80%;
    }
    table {
        width: 100%;
    }

    div.aboutText {
        margin: 0px;
        padding: 50px 3em 100px 3em;
        width: 100%;
    }
    div.aboutText h1 {
        text-align: center;
    }
}