/* 
Coded by: Christian Moloci
About Page Styles
*/

/* Set the background color */
body {
    background-color: black;
}

/* main {
    display: flex;
    flex-direction: column;
} */

/* First impressions is a quick intro/preview section of the page */
div.firstImpression {
    margin-top: 10%;
    display: flex;
}
div.firstImpression div {
    width: 50%;
}
div.firstImpression img {
    transition: scale 0.4s;
    scale: 1;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 32px;
    box-shadow: 0px 0px 30px -8px rgb(49, 49, 49);
}
div.firstImpression img:hover {
    transition: scale 0.4s;
    scale: 1.04;
}
/* Style the specs table and its elements */
table {
    border-radius: 16px;
    box-shadow: 0px 0px 30px -8px rgb(49, 49, 49);
}
table * {
    width: 50%;
    text-align: left;
    padding: 8px;
    font-size: 1.05em;
}
tr:first-of-type th {
    border-radius: 16px 0px 0px 0px;
}
tr:first-of-type td {
    border-radius: 0px 16px 0px 0px;
}
tr:last-of-type th {
    border-radius: 0px 0px 0px 16px;
}
tr:last-of-type td {
    border-radius: 0px 0px 16px 0px;
}
tr:nth-child(odd) {
    background-color: #121212;
}

/* About text represents the collection of articles which talk about me */
div.aboutText {
    box-sizing: border-box;
    margin: 0px 10% 80px 10%;
    width: 60%;
}
/* Set the style of the main title for the aboutText element */
div.aboutText h1 {
    font-size: 3em;
    line-height: 1em;
    text-decoration: underline;
    text-decoration-color: orangered;
    text-decoration-thickness: 5px;
    text-underline-offset: 3px;
}

/* Set styling of each article and its content */
div.aboutText article > h2 {
    font-size: 30px;
}
div.aboutText article > dl > dt {
    font-size: 1.4em;
}
div.aboutText article > dl > dd > dl > dt {
    font-size: 1.2em;
}
/* div.aboutText article > dl > dd > dl {
    font-size: 0.3em;
} */

/* For smaller displays */
@media screen and (max-width: 1019px) {
    /* Set the styles for the body */
    body {
        margin-bottom: 80px;
    }

    /* Change layout, posistioning, and styling for the first impressions section */
    div.firstImpression {
        flex-direction: column;
        align-items: center;
    }
    div.firstImpression img {
        width: 100%;
    }
    div.firstImpression div {
        width: 80%;
    }
    table {
        width: 100%;
    }

    /* Change some dimensions/sizing for the aboutText section */
    div.aboutText {
        margin: 0px;
        padding: 50px 3em 100px 3em;
        width: 100%;
    }
    div.aboutText h1 {
        text-align: center;
    }
}