/* 
Coded by: Christian Moloci
Connect page Styles
*/

/* Style for body */
body {
    background-image: linear-gradient(to bottom, rgba(193,118,77,1) 0%, rgba(178,86,40,1) 52%, rgba(14,66,89,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 10% 2% 0px 2%;
}

/* Shows the current selected page in the nav bar */
nav > ul > li:nth-of-type(4) {
    transition: background-color 0.8s;
    backdrop-filter: blur(5px);
    background-color: #121212;
    border-radius: 25px;
    padding: 6px 15px 6px 15px;
}
nav > ul > li:nth-of-type(4):hover {
    transition: background-color 0.8s;
    background-color: #fafafacc;
}
nav > ul > li:nth-of-type(4) * {
    transition: color 0.8s;
    color: white;
}
nav > ul > li:nth-of-type(4):hover * {
    transition: color 0.8s;
    color: black;
}

/* Styles for main */
main {
    margin-bottom: 50px;
}

/* Styles for the title (says "Connect") */
main > h1 {
    text-align: center;
    margin-top: 20%;
    color: white;
    filter: drop-shadow(2px 2px 5px lightblue);
}

/* Connect section contains the grid for all the connect cards in the page */
main > section {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 30px;
}

/* Styles for each connect card and its content */
main > section > section {
    transition: scale 0.3s;
    scale: 1;
    box-sizing: border-box;
    padding: 20px;
    background-color: #121212;
    border-radius: 32px;
    margin: 0px 20px 0px 20px;
    box-shadow: 0px 0px 30px -10px rgb(49, 49, 49);
}
/* For transitions */
main > section > section:hover {
    transition: scale 0.5s;
    scale: 1.05;
}
main > section > section h1 {
    font-size: 2.2em;
}
main > section > section * {
    margin: 0px;
}
main > section > section img {
    width: 100%;
    border-radius: 22px;
    box-shadow: 0px 0px 30px -10px rgb(49, 49, 49);
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
main > section > section > section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
/* Smaller cards will have an alternate text appearence and layout */
main > section > section > article {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    /* margin-top: 20px; */
}

main > section > section > * > a section {
    transition: border 1s, background-color 0.5s;
    border: 3px solid transparent;
    background-color: white;
    width: fit-content;
    border-radius: 25px;
    padding: 5px 15px 5px 15px;
    margin: auto;
    position: relative;
    bottom: 1px;
}
main > section > section > * > a *:not(:hover) {
    transition: color 0.5s;
    color: black;
}
main > section > section > * > a section:hover {
    transition: all 1s;
    background-color: black;
    border: 3px solid white;
}
main > section > section > * > a section:hover * {
    transition: color 1s;
    color: white;
    text-decoration: underline;
}

/* Defining the grid location of each card */
main > section > section:first-of-type {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

main > section > section:nth-of-type(2) {
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
}

main > section > section:nth-of-type(3) {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

main > section > section:nth-of-type(4) {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

main > section > section:nth-of-type(5) {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}

main > section > section:nth-of-type(6) {
    grid-column: 2 / span 3;
    grid-row: 2 / span 2;
}

main > section > section:nth-of-type(7) {
    grid-column: 2 / span 3;
    grid-row: 4 / span 1;
    padding-bottom: 0px;
}

/* Styles for the contact form and its elements */
main > section > section:nth-of-type(7) form * {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 10px 0px 10px 0px;
    border-radius: 16px;
    padding: 0.5em;
    border: 1px solid black;
    background-color: black;
    font-size: 1.2em;
    resize: none;
}
main > section > section:nth-of-type(7) form button {
    transition: background-color 0.5s, color 0.5s;
    width: 20%;
    padding: 0.5em;
    background-color: black;
    color: white;
}
main > section > section:nth-of-type(7) form button:hover {
    transition: background-color 0.5s, color 0.5s;
    background-color: white;
    color: black;
}
main > section > section:nth-of-type(7) p {
    padding: 2px;
}

/* Changes the presentation of text in a small card to prevent overflow issues */
@media screen and (max-width: 1260px) and (min-width: 1019px) {
    main > section > section > article {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    main > section > section > article a section {
        width: 60%;
    }
}

/* Styles for smaller display widths */
@media screen and (max-width: 1019px) {
    /* Body styles */
    body {
        margin-bottom: 80px;
    }

    /* Change the height of the small card text (small cards now have a different appearence)  */
    main > section > section > article {
        height: auto;
    }

    /* Change the grid layout */
    main > section {
        grid-template-columns: 100%;
        row-gap: 20px;
    }

    /* Change location of all elements to fit in the new grid layout */
    main > section > section:nth-of-type(6) {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    main > section > section:first-of-type {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    
    main > section > section:nth-of-type(2) {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }
    
    main > section > section:nth-of-type(3) {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }
    
    main > section > section:nth-of-type(4) {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
    }
    
    main > section > section:nth-of-type(5) {
        grid-column: 1 / span 1;
        grid-row: 6 / span 1;
    }

    main > section > section:nth-of-type(7) {
        grid-column: 1 / span 1;
        grid-row: 7 / span 1;
        padding-bottom: 0px;
    }
    main > section > section:nth-of-type(7) form button {
        width: 100%;
    }
}