/* 
Coded by: Christian Moloci
Connect page Styles
*/

/* Style for body */
body {
    background-image: linear-gradient(to bottom, rgba(193,118,77,1) 0%, rgba(178,86,40,1) 52%, rgba(14,66,89,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 10% 2% 0px 2%;
}

/* Shows the current selected page in the nav bar */
nav > ul > li:nth-of-type(4) {
    transition: background-color 0.8s;
    backdrop-filter: blur(5px);
    background-color: #121212;
    border-radius: 25px;
    padding: 6px 15px 6px 15px;
}
nav > ul > li:nth-of-type(4):hover {
    transition: background-color 0.8s;
    background-color: #fafafacc;
}
nav > ul > li:nth-of-type(4) * {
    transition: color 0.8s;
    color: white;
}
nav > ul > li:nth-of-type(4):hover * {
    transition: color 0.8s;
    color: black;
}

/* Styles for main */
main {
    margin-bottom: 50px;
}

/* Styles for the title (says "Connect") */
main > h1 {
    text-align: center;
    margin-top: 20%;
    color: white;
    filter: drop-shadow(2px 2px 5px lightblue);
}

/* Connect section contains the grid for all the connect cards in the page */
div.connectSection {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 30px;
}

/* Styles for each connect card and its content */
div.connectCard {
    transition: scale 0.3s;
    scale: 1;
    box-sizing: border-box;
    padding: 20px;
    background-color: #121212;
    border-radius: 32px;
    margin: 0px 20px 0px 20px;
    box-shadow: 0px 0px 30px -10px rgb(49, 49, 49);
    /* padding-bottom: 56.25%; to get a perfect 16:9 aspect ratio https://css-tricks.com/aspect-ratio-boxes/ */
}
/* For transitions */
div.connectCard:hover {
    transition: scale 0.5s;
    scale: 1.05;
}
div.connectCard h1 {
    font-size: 2.2em;
}
div.connectCard * {
    margin: 0px;
}
div.connectCard img {
    width: 100%;
    border-radius: 22px;
    box-shadow: 0px 0px 30px -10px rgb(49, 49, 49);
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
div.cardText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
/* Smaller cards will have an alternate text appearence and layout */
div.smallCardText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    /* margin-top: 20px; */
}
div.smallCardText * {
    font-size: 1em;
}
div.cardButton:not(:hover) {
    color: black;
}

/* Defining the grid location of each card */
div.githubCard {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
}

div.emailCard {
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
}

div.igCard {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

div.tiktokCard {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
}

div.linkedinCard {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}

div.aboutCard {
    grid-column: 2 / span 3;
    grid-row: 2 / span 2;
}

div.contactForm {
    grid-column: 2 / span 3;
    grid-row: 4 / span 1;
    padding-bottom: 0px;
}

/* Styles for the contact form and its elements */
div.contactForm form * {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 10px 0px 10px 0px;
    border-radius: 16px;
    padding: 0.5em;
    border: 1px solid black;
    background-color: black;
    font-size: 1.2em;
    resize: none;
}
div.contactForm form button {
    transition: background-color 0.5s, color 0.5s;
    width: 20%;
    padding: 0.5em;
    background-color: black;
    color: white;
}
div.contactForm form button:hover {
    transition: background-color 0.5s, color 0.5s;
    background-color: white;
    color: black;
}
div.contactForm p {
    padding: 2px;
}

/* Changes the presentation of text in a small card to prevent overflow issues */
@media screen and (max-width: 1260px) and (min-width: 1019px) {
    div.smallCardText {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    div.smallCardText .cardButton {
        width: 60%;
    }
}

/* Styles for smaller display widths */
@media screen and (max-width: 1019px) {
    /* Body styles */
    body {
        margin-bottom: 80px;
    }

    /* Change the height of the small card text (small cards now have a different appearence)  */
    div.smallCardText {
        height: auto;
    }

    /* Change the grid layout */
    div.connectSection {
        grid-template-columns: 100%;
        row-gap: 20px;
    }

    /* Change location of all elements to fit in the new grid layout */
    div.aboutCard {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    div.githubCard {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    
    div.emailCard {
        grid-column: 1 / span 1;
        grid-row: 3 / span 1;
    }
    
    div.igCard {
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
    }
    
    div.tiktokCard {
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
    }
    
    div.linkedinCard {
        grid-column: 1 / span 1;
        grid-row: 6 / span 1;
    }

    div.contactForm {
        grid-column: 1 / span 1;
        grid-row: 7 / span 1;
        padding-bottom: 0px;
    }
    div.contactForm form button {
        width: 100%;
    }
}