body {
    padding-bottom: 60px;
    background-color: black;
}

section.firstImpression {
    height: 110vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    background-color: black;
}
section.firstImpression div {
    width: 50%;
}
section.firstImpression div.namePresentaton {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.firstImpression div.namePresentaton * {
    margin: 0px;
    padding: 0px;
    text-align: left;
}
section.firstImpression div.namePresentaton *:hover {
    transition: scale 0.2s;
    scale: 1.02;
}
section.firstImpression div.namePresentaton .text-container {
    width: fit-content;
}
section.firstImpression div.namePresentaton h1 {
    font-family: "Madimi One";
    font-size: 3.8em;
}
section.firstImpression div.namePresentaton p {
    margin-top: 10px;
    font-size: 2em;
}
section.firstImpression div.namePresentaton p span {
    color: rgb(77, 148, 219);
}

section.firstImpression div.imagePresentation div.imageWrap {
    width: 60%;
    /* height: 60%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-image: linear-gradient(to top left, rgb(60, 23, 23) 30%, rgba(30, 50, 95, 0.698) 70%);
    border-radius: 70px;
    padding: 10px;
}
section.firstImpression div.imagePresentation div.imageWrap:hover {
    scale: 1.02;
    transition: scale 0.2s;
}
section.firstImpression div.imagePresentation img {
    /* width: fit-content; */
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 60px;
}

section.languages {
    background-color: #121212;
    height: 90vh;
    margin-top: -10vh;
    border-radius: 32px 32px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
section.languages h1 {
    margin-top: -10vh;
    width: 80%;
    line-height: 0em;
    text-decoration: underline;
    text-decoration-color: rgb(250, 131, 20);
    text-decoration-thickness: 5px;
    text-underline-offset: 3px;
}
section.languages h2 {
    width: 75%;
    font-size: 40px;
    line-height: 1em;
}
div.langSection {
    display: flex;
    gap: 30px;
    width: 75%;
    flex-wrap: wrap;
    align-items: flex-end;
}
div.languageContainer {
    flex-basis: 150px;
}
div.languageContainer:hover {
    transition: scale 1s;
    scale: 1.1
}
div.language {
    border: 0.5px solid rgb(55, 55, 55);
    background-color: #111111;
    /* flex-basis: 150px; */
    text-align: center;
    border-radius: 18px;
    font-weight: 600;
    height: fit-content;
}
div.languageContainer:hover div.language  {
    border-radius: 0px 0px 18px 18px;
    top: 0px;
}
.languageExp {
    display: none;
    border-radius: 18px 18px 0px 0px;
    top: 0px;
    box-shadow: 0px 0px 30px -8px #121212;
    margin-top: -42px;
}
.languageExp i {
    padding-right: 5px;
}
div.languageContainer:hover .languageExp {
    display: block;
    position: relative;
    z-index: 1;
    background-color: #111111;
    text-align: center;
    font-weight: 600;
    padding: 10px;
}

/* section.languages img {
    max-width: 10%;
    margin: 2%;
}
div.langRow {
    width: fit-content;
    justify-content: center;
    border: 1px solid beige;
    text-align: center;
} */
/* section.languages * {
    color: black;
} */

section.quote {
    /* background-color: #A7D397; */
    background-color: #2F2519;
    box-shadow: 0px 0px 30px -8px #2F2519;
    border-radius: 32px 32px 0px 0px;
    margin-top: -10vh;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 0px 20% 0px 20%; */
    padding: 10% 20% 20% 20%;
}
section.quote * {
    color: white;
    font-size: 30px;
}
div.quoteContainer {
    border: 1px solid #121212;
    padding: 30px 10px 30px 10px;
    border-radius: 32px;
    background-color: black;
    box-shadow: 0px 0px 30px -8px #121212;
}
div.quoteContainer cite {
    display: block;
    font-weight: 600;
    text-align: right;
}
section.quote blockquote::before {
    content: open-quote;
    font-size: 100px;
    display: block;
    line-height: 0em;
}
section.quote blockquote::after {
    content: close-quote;
    font-size: 100px;
    display: block;
    text-align: right;
    line-height: 0em;
}

section.myWork {
    /* background-color: #19282F; */
    background-color: black;
    box-shadow: 0px 0px 30px -8px #121212;
    border-radius: 32px 32px 0px 0px;
    margin-top: -10vh;
    min-height: 80vh;
    max-height: 80vh;
    height: fit-content;
    /* margin: 0px; */
    display: flex;
    flex-direction: row;
    padding-bottom: 80px;
}
section.myWork div.workContainer {
    display: flex;
    flex-direction: row;
    /* padding: 30px; */
    /* max-height: 100%; */
    height: fit-content;
    overflow-x: scroll;
}
section.myWork div.myWorkTitle {
    min-width: 25%;
    /* width: 50%; */
    padding: 30px;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section.myWork div.myWorkTitle h1 {
    margin: 0px;
}
section.myWork div.myWorkTitle div.projectsPageButton {
    border: 1px solid black;
    width: fit-content;
    padding: 5px 15px 5px 15px;
    border-radius: 25px;
    background-color: #5C7285;
    color: black;
}
section.myWork div.workCard {
    /* border: 1px solid black; */
    background-color: #121212;
    box-shadow: 0px 0px 30px -10px rgb(49, 49, 49);
    border-radius: 32px;
    /* min-width: 30%; */
    min-width: 430px;
    min-height: 100%;
    /* padding: 10px 20px 10px 20px; */
    padding: 20px;
    margin: 20px;
}
section.myWork div.workCard div.workCardContent {
    padding: 0px 20px 0px 20px;
}
section.myWork div.workCard img {
    width: 100%;
    border-radius: 22px;
    box-shadow: 0px 0px 30px -4px black;
}
section.myWork div.workCard h1 {
    font-size: 40px;
    line-height: 1.1em;
    font-weight: 600;
    margin-bottom: 5px;
}
section.myWork div.workCard ul {
    margin: 0px;
    padding: 0px;
}
section.myWork div.workCard ul li {
    font-size: 12px;
    font-weight: 300;
    display: inline;
    /* border: 1px solid black; */
    padding: 1px 5px 1px 5px;
    border-radius: 25px;
}
section.myWork div.workCard * {
    color: white;
}
div.workCard > h1 {
    margin: 0px;
}
div.workCard p {
    overflow: scroll;
    max-height: 23vh;
    min-height: 23vh;
}
div.workCard a {
    position: relative;
    /* bottom: 0px; */
    top: 100%;
    bottom: 3px;
}
div.workCard div.cardButton {
        position: relative;
        bottom: 1px;
}

/* For smaller displays */
@media screen and (max-width: 1019px) {
    section.firstImpression {
        /* height: fit-content; */
        box-sizing: border-box;
        flex-direction: column-reverse;
        padding: 5vh 0px 15vh 0px;
        justify-content: start;
        gap: 5vh;
    }
    section.firstImpression div {
        width: 75%;
    }

    section.firstImpression div.imagePresentation div.imageWrap {
        width: 50%;
    }

    section.firstImpression div.namePresentaton {
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section.firstImpression div.namePresentaton div.text-container > h1 {
        text-align: center;
        line-height: 1.15em;
        margin-top: 0.2em;
    }
    section.firstImpression div.namePresentaton div.text-container > p {
        text-align: center;
        font-size: 1.8em;
        margin-top: 30px;
    }

    div.text-container * {
        text-align: center;
    }
    section.firstImpression div.imagePresentation {
        /* margin: 0px; */
        /* aspect-ratio: 1 / 1; */
        /* height: 100%; */
        width: 100%;
        /* display: none; */
    }

    section.languages {
        height: fit-content;
        padding-bottom: 15vh;
    }
    section.languages h1 {
        margin: 0px;
    }
    div.langSection {
        width: 100%;
        justify-content: center;
    }
    div.languageContainer {
        flex-basis: 200px;
        font-size: 1.7em;
    }
    div.languageExp {
        margin-top: -90px;
        font-size: 0.8em;
    }
    div.languageContainer div.language {
        border-radius: 32px;
    }
    div.languageContainer:hover div.language {
        border-radius: 0px 0px 32px 32px;
    }

    section.quote {
        padding: 10vh 40px 20vh 40px;
    }
    /* section.quote * {
        color: white;
        font-size: 30px;
    } */
    div.quoteContainer {
        padding: 30px 0px 0px 30px 0px;
        border-radius: 48px;
    }
    div.quoteContainer cite {
        display: block;
        font-weight: 600;
        text-align: right;
    }

    section.myWork div.workCard {
        min-width: 88%;
    }
    section.myWork div.myWorkTitle {
        height: fit-content;
        height: fit-content;
    }
    section.myWork {
        flex-direction: column;
        padding-top: 40px;
        min-height: fit-content;
    }
    div.myWorkTitle {
        text-align: center;
    }
    div.myWorkTitle h1 {
        font-size: 5em;
    }
    div.myWorkTitle p {
        font-size: 2em;
        margin-top: 0px;
    }
    div.myWorkTitle div.projectsPageButton {
        margin: auto;
        font-size: 2em;
    }
    section.myWork div.workCard h1 {
        font-size: 3.8em;
    }
    section.myWork div.workCard ul li {
        font-size: 1em;
    }
    section.myWork div.workCard p {
        font-size: 1.5em;
    }
    div.cardButton {
        font-size: 1.6em;
    }
}

@media screen and (max-width: 530px) {
    div.languageExp {
        margin-top: -50px;
    }
}