/* 
Coded by: Christian Moloci
Home page styles
*/


/* Set the background color of the page */
body {
    background-color: black;
}

/* First section styles */
main > section:first-of-type {
    height: 110vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    background-color: black;
}
/* All divs in the section should be 50% wide */
main > section:first-of-type section {
    width: 50%;
}

/* Shows the current selected page in the nav bar */
nav > ul > li:nth-of-type(2) {
    transition: background-color 0.8s;
    backdrop-filter: blur(5px);
    background-color: #121212;
    border-radius: 25px;
    padding: 6px 15px 6px 15px;
}
nav > ul > li:nth-of-type(2):hover {
    transition: background-color 0.8s;
    background-color: #fafafacc;
}
nav > ul > li:nth-of-type(2) * {
    transition: color 0.8s;
    color: white;
}
nav > ul > li:nth-of-type(2):hover * {
    transition: color 0.8s;
    color: black;
}

/* Button that is used in different areas */
main > section:first-of-type > section:first-of-type a section, main > section:last-of-type > section:last-of-type > section > section > a > section {
    transition: border 1s, background-color 0.5s;
    background-color: white;
    border: 3px solid transparent;
    width: fit-content;
    border-radius: 25px;
    padding: 5px 15px 5px 15px;
    margin: auto;
    position: relative;
    bottom: 1px;
}
main > section:first-of-type > section:first-of-type a section *, main > section:last-of-type > section:last-of-type > section > section > a > section * {
    transition: color 0.5s;
    color: black;
}
main > section:first-of-type > section:first-of-type a section:hover, main > section:last-of-type > section:last-of-type > section > section > a > section:hover {
    transition: all 1s;
    background-color: black;
    border: 3px solid white;
}
main > section:first-of-type > section:first-of-type a section:hover *, main > section:last-of-type > section:last-of-type > section > section > a > section:hover * {
    transition: color 1s;
    color: white;
    text-decoration: underline;
}

/* The left side of the first impressions section */
main > section:first-of-type > section:first-of-type {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
main > section:first-of-type > section:first-of-type * {
    transition: scale 0.5s;
    scale: 1;
    margin: 0px;
    /* padding: 0px; */
    text-align: left;
}
main > section:first-of-type > section:first-of-type *:hover {
    transition: scale 0.5s;
    scale: 1.02;
}
main > section:first-of-type > section:first-of-type > section {
    width: fit-content;
}
/* Button styles specific to the resume button */
main > section:first-of-type > section:first-of-type a section {
    transition: background-color 0.5s;
    background-color: rgb(220, 245, 255);
    width: fit-content;
    margin: 20px 0px 0px 0px;
    padding: 8px 15px 8px 15px;
}
main > section:first-of-type > section:first-of-type a section * {
    transition: color 0.5s;
    color: black;
}
main > section:first-of-type > section:first-of-type a section:hover {
    transition: background-color 0.5s;
    background-color: black;
}
main > section:first-of-type > section:first-of-type a section:hover * {
    transition: color 0.5s;
    color: white;
}
main > section:first-of-type > section:first-of-type h1 {
    font-family: "Madimi One";
    font-size: 3.8em;
}
svg text {
    font-size: 1.7em;
}
main > section:first-of-type > section:first-of-type p {
    margin-top: 10px;
    font-size: 2em;
}
main > section:first-of-type > section:first-of-type p span {
    color: rgb(77, 148, 219);
}

/* Right side of the first impressions section */
main > section:first-of-type > section:last-of-type > section {
    transition: scale 0.5s;
    scale: 1;
    width: 60%;
    /* height: 60%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-image: linear-gradient(to top left, rgb(60, 23, 23) 30%, rgba(30, 50, 95, 0.698) 70%);
    border-radius: 70px;
    padding: 10px;
}
main > section:first-of-type > section:last-of-type section:hover {
    transition: scale 0.5s;
    scale: 1.05;
}
main > section:first-of-type > section:last-of-type img {
    /* width: fit-content; */
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 60px;
}

/* Languages section styles */
main > section:nth-of-type(2) {
    background-color: #121212;
    height: 90vh;
    margin-top: -10vh;
    border-radius: 32px 32px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
main > section:nth-of-type(2) h1 {
    margin-top: -10vh;
    width: 80%;
    /* line-height: 0em; */
    text-decoration: underline;
    text-decoration-color: rgb(250, 131, 20);
    text-decoration-thickness: 5px;
    text-underline-offset: 3px;
}
main > section:nth-of-type(2) h2 {
    width: 75%;
    font-size: 40px;
    line-height: 1.1em;
}
main > section:nth-of-type(2) > section {
    display: flex;
    gap: 30px;
    width: 75%;
    flex-wrap: wrap;
    align-items: flex-end;
}
/* Style for every language container and its content */
main > section:nth-of-type(2) > section > section {
    transition: scale 0.2s;
    scale: 1;
    flex-basis: 150px;
}
main > section:nth-of-type(2) > section > section:hover {
    transition: scale 0.2s;
    scale: 1.1
}
main > section:nth-of-type(2) > section > section section:last-of-type {
    border: 0.5px solid rgb(55, 55, 55);
    background-color: #111111;
    /* flex-basis: 150px; */
    text-align: center;
    border-radius: 18px;
    font-weight: 600;
    height: fit-content;
}
main > section:nth-of-type(2) > section > section:hover section:last-of-type  {
    border-radius: 0px 0px 18px 18px;
    top: 0px;
}

/* Styles for language box shadows and experience icon color */
main > section:nth-of-type(2) > section:first-of-type > section:first-of-type section:first-of-type i {
    color: #96d35f;
}
main > section:nth-of-type(2) > section:first-of-type > section:first-of-type section:last-of-type {
    box-shadow: 0px 0px 20px -2px #e34c26;
}

main > section:nth-of-type(2) > section:first-of-type > section:nth-of-type(2) section:first-of-type i {
    color: #96d35f;
}
main > section:nth-of-type(2) > section:first-of-type > section:nth-of-type(2) section:last-of-type {
    box-shadow: 0px 0px 20px -2px #264de4;
}

main > section:nth-of-type(2) > section:first-of-type > section:nth-of-type(3) section:first-of-type i {
    color: #FFD43B;
}
main > section:nth-of-type(2) > section:first-of-type > section:nth-of-type(3) section:last-of-type {
    box-shadow: 0px 0px 20px -2px #f0db4f;
}

main > section:nth-of-type(2) > section:first-of-type > section:nth-of-type(4) section:first-of-type i {
    color: #FFD43B;
}
main > section:nth-of-type(2) > section:first-of-type > section:nth-of-type(4) section:last-of-type {
    box-shadow: 0px 0px 20px -2px #8993BE;
}

main > section:nth-of-type(2) > section:nth-of-type(2) > section:nth-of-type(1) section:first-of-type i {
    color: #96d35f;
}
main > section:nth-of-type(2) > section:nth-of-type(2) > section:nth-of-type(1) section:last-of-type {
    box-shadow: 0px 0px 20px -2px #f89820;
}

main > section:nth-of-type(2) > section:nth-of-type(2) > section:nth-of-type(2) section:first-of-type i {
    color: #e32400;
}
main > section:nth-of-type(2) > section:nth-of-type(2) > section:nth-of-type(2) section:last-of-type {
    box-shadow: 0px 0px 20px -2px #5AC5B0;
}

main > section:nth-of-type(2) > section:last-of-type > section:nth-of-type(1) section:first-of-type i {
    color: #e32400;
}

main > section:nth-of-type(2) > section:last-of-type > section:nth-of-type(1) section:first-of-type i {
    color: #FFD43B;
}
main > section:nth-of-type(2) > section:last-of-type > section:nth-of-type(1) section:last-of-type {
    box-shadow: 0px 0px 20px -2px #5382a1;
}

main > section:nth-of-type(2) > section:last-of-type > section:nth-of-type(2) section:first-of-type i {
    color: #e32400;
}
main > section:nth-of-type(2) > section:last-of-type > section:nth-of-type(2) section:last-of-type {
    box-shadow: 0px 0px 20px -2px #027DFD;
}

main > section:nth-of-type(2) > section > section > section:first-of-type {
    display: none;
    border-radius: 18px 18px 0px 0px;
    top: 0px;
    box-shadow: 0px 0px 30px -8px #121212;
    margin-top: -42px;
}
main > section:nth-of-type(2) > section > section section:first-of-type i {
    padding-right: 5px;
}
main > section:nth-of-type(2) > section > section:hover section:first-of-type {
    display: block;
    position: relative;
    z-index: 1;
    background-color: #111111;
    text-align: center;
    font-weight: 600;
    padding: 10px;
}

/* Style for bible verse section */
main > section:nth-of-type(3) {
    background-color: #2F2519;
    box-shadow: 0px 0px 30px -8px #2F2519;
    border-radius: 32px 32px 0px 0px;
    margin-top: -10vh;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 0px 20% 0px 20%; */
    padding: 10% 20% 20% 20%;
}
main > section:nth-of-type(3) * {
    color: white;
    font-size: 30px;
}
main > section:nth-of-type(3) section {
    transition: scale 0.4s;
    scale: 1;
    padding: 30px 10px 30px 10px;
    border-radius: 32px;
    background-color: black;
    box-shadow: 0px 0px 30px -8px #121212;
}
main > section:nth-of-type(3) section:hover {
    transition: scale 0.4s;
    scale: 1.04;
}
main > section:nth-of-type(3) section cite {
    display: block;
    font-weight: 600;
    text-align: right;
}
main > section:nth-of-type(3) blockquote::before {
    content: open-quote;
    font-size: 100px;
    display: block;
    line-height: 0em;
}
main > section:nth-of-type(3) blockquote::after {
    content: close-quote;
    font-size: 100px;
    display: block;
    text-align: right;
    line-height: 0em;
}

/* Style for projects section */
main > section:last-of-type {
    background-color: black;
    box-shadow: 0px 0px 30px -8px #121212;
    border-radius: 32px 32px 0px 0px;
    margin-top: -10vh;
    min-height: 80vh;
    max-height: 80vh;
    height: fit-content;
    /* margin: 0px; */
    display: flex;
    flex-direction: row;
    padding-bottom: 80px;
}
/* Styles for the info part */
main > section:last-of-type > section:first-of-type {
    min-width: 25%;
    /* width: 50%; */
    padding: 30px;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main > section:last-of-type > section:first-of-type h1 {
    margin: 0px;
    font-size: 3.5em;
    line-height: 1.2em;
}
main > section:last-of-type > section:first-of-type div {
    transition: border 0.2s, background-color 0.2s;
    border: 1px solid black;
    background-color: #5C7285;
    width: fit-content;
    padding: 5px 15px 5px 15px;
    border-radius: 25px;
    color: black;
}
main > section:last-of-type > section:first-of-type div:hover {
    transition: border 0.5s, background-color 0.5s;
    border: 1px solid white;
    background-color: black;
}
/* Create the work container that holds all the project cards */
main > section:last-of-type > section:last-of-type {
    display: flex;
    flex-direction: row;
    /* padding: 30px; */
    /* max-height: 100%; */
    height: fit-content;
    overflow-x: scroll;
}
/* Styles for all the project cards and their content */
main > section:last-of-type > section:last-of-type > section {
    transition: scale 0.3s;
    scale: 1;
    background-color: #121212;
    box-shadow: 0px 0px 30px -10px rgb(49, 49, 49);
    border-radius: 32px;
    min-width: 430px;
    min-height: 100%;
    padding: 20px;
    margin: 20px;
}
main > section:last-of-type > section:last-of-type > section:hover {
    transition: scale 0.5s;
    scale: 1.05;
}
main > section:last-of-type > section:last-of-type > section > section {
    padding: 0px 20px 0px 20px;
}
main > section:last-of-type > section:last-of-type section img {
    width: 100%;
    border-radius: 22px;
    box-shadow: 0px 0px 30px -4px black;
}
main > section:last-of-type > section:last-of-type section h1 {
    font-size: 40px;
    line-height: 1.1em;
    font-weight: 600;
    margin-bottom: 5px;
}
main > section:last-of-type > section:last-of-type section ul {
    margin: 0px;
    padding: 0px;
}
main > section:last-of-type > section:last-of-type section ul li {
    font-size: 12px;
    font-weight: 300;
    display: inline;
    /* border: 1px solid black; */
    padding: 1px 5px 1px 5px;
    border-radius: 25px;
}

/* Define drop shadows for language list items */
/* Box 1 */
main > section:last-of-type > section:last-of-type > section:first-of-type ul li:first-of-type {
    box-shadow: 0px 0px 20px -2px #e34c26;
}
main > section:last-of-type > section:last-of-type > section:first-of-type ul li:nth-of-type(2) {
    box-shadow: 0px 0px 20px -2px #264de4;
}
/* main > section:last-of-type > section:last-of-type > section:first-of-type ul li:last-of-type {
    box-shadow: 0px 0px 20px -2px #f0db4f;
} */

/* box 2 */
main > section:last-of-type > section:last-of-type > section:nth-of-type(2) ul li:first-of-type {
    box-shadow: 0px 0px 20px -2px #f89820;
}
main > section:last-of-type > section:last-of-type > section:nth-of-type(2) ul li:last-of-type {
    box-shadow: 0px 0px 20px -2px #5382a1;
}

/* Box 3 */
main > section:last-of-type > section:last-of-type > section:nth-of-type(3) ul li:first-of-type {
    box-shadow: 0px 0px 20px -2px #e34c26;
}
main > section:last-of-type > section:last-of-type > section:nth-of-type(3) ul li:nth-of-type(2) {
    box-shadow: 0px 0px 20px -2px #264de4;
}
main > section:last-of-type > section:last-of-type > section:nth-of-type(3) ul li:last-of-type {
    box-shadow: 0px 0px 20px -2px #f0db4f;
}

/* box 4 */
main > section:last-of-type > section:last-of-type > section:last-of-type ul li:first-of-type {
    box-shadow: 0px 0px 20px -2px #027DFD;
}
main > section:last-of-type > section:last-of-type > section:last-of-type ul li:last-of-type {
    box-shadow: 0px 0px 20px -2px #5AC5B0;
}

main > section:last-of-type > section:last-of-type section > h1 {
    margin-top: 0.9em;
}
main > section:last-of-type > section:last-of-type section p {
    overflow: scroll;
    max-height: 23vh;
    min-height: 23vh;
}

/* For smaller displays */
@media screen and (max-width: 1019px) {
    /* Body */
    body {
        margin-bottom: 80px;
    }

    /* First impressions section */
    main > section:first-of-type {
        height: fit-content;
        box-sizing: border-box;
        flex-direction: column-reverse;
        padding: 5vh 0px 15vh 0px;
        justify-content: start;
        /* gap: 5vh; */
    }
    main > section:first-of-type > div {
        width: 75%;
    }
    main > section:first-of-type > section:first-of-type {
        width: 100%;
    }
    main > section:first-of-type > section:first-of-type p {
        padding: 0px 8vw 0px 8vw;
    }
    main > section:first-of-type > section:last-of-type > section {
        width: 70%;
    }
    main > section:first-of-type > section:first-of-type {
        /* border: 1px solid white; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    svg g {
        transform: translate(50%);
        text-anchor: middle;
    }
    main > section:first-of-type > section:first-of-type > section > h1 {
        text-align: center;
        line-height: 1.15em;
        margin-top: 0.2em;
    }
    svg text {
        font-size: 1.2em;
    }
    main > section:first-of-type > section:first-of-type > section > p {
        text-align: center;
        font-size: 1.8em;
        /* margin-top: 10px; */
    }
    div> section * {
        text-align: center;
    }
    main > section:first-of-type > section:first-of-type a section {
        display: block;
        margin: 30px auto 10px auto;
        font-size: 1.3em;
    }
    main > section:first-of-type > section:last-of-type {
        /* margin: 0px; */
        /* aspect-ratio: 1 / 1; */
        /* height: 100%; */
        width: 100%;
        /* display: none; */
    }

    /* Language section */
    main > section:nth-of-type(2) {
        height: fit-content;
        padding: 0px 30px 15vh 30px;
    }
    main > section:nth-of-type(2) h1 {
        font-size: 3em;
        margin: 0px;
        text-align: center;
        margin-bottom: 50px;
        padding-top: 50px;
    }
    main > section:nth-of-type(2) h1 i {
        display: none;
    }
    main > section:nth-of-type(2) h2 {
        width: 100%;
        font-size: 2.2em;
    }
    main > section:nth-of-type(2) > section {
        width: 100%;
        justify-content: center;
    }
    main > section:nth-of-type(2) > section > section {
        flex-basis: 45%;
        font-size: 1.5em;
    }
    main > section:nth-of-type(2) > section > section section:first-of-type {
        margin-top: -90px;
        font-size: 0.7em;
    }
    main > section:nth-of-type(2) > section > section > section:last-of-type {
        border-radius: 32px;
    }
    main > section:nth-of-type(2) > section > section:hover > section:last-of-type {
        border-radius: 0px 0px 32px 32px;
    }

    /* Bible verse section */
    main > section:nth-of-type(3) {
        padding: 10vh 20px 20vh 20px;
    }
    main > section:nth-of-type(3) section *{
        font-size: 0.8em;
    }
    main > section:nth-of-type(3) section {
        padding: 30px 0px 0px 30px 0px;
        border-radius: 48px;
    }
    main > section:nth-of-type(3) section cite {
        display: block;
        font-weight: 600;
        text-align: right;
    }

    /* Projects section */
    main > section:last-of-type > section:last-of-type section {
        min-width: 88%;
    }
    main > section:last-of-type section:first-of-type {
        height: fit-content;
        height: fit-content;
    }
    main > section:last-of-type {
        flex-direction: column;
        padding-top: 40px;
        min-height: fit-content;
    }
    main > section:last-of-type > section:first-of-type {
        text-align: center;
    }
    main > section:last-of-type section:first-of-type h1 {
        font-size: 3.7em;
    }
    main > section:last-of-type > section:first-of-type p {
        font-size: 1.5em;
        margin-top: 0px;
    }
    main > section:last-of-type > section:first-of-type div {
        margin: auto;
        font-size: 1.3em;
    }
    main > section:last-of-type > section:last-of-type section h1 {
        font-size: 2.8em;
    }
    main > section:last-of-type > section:last-of-type section ul li {
        font-size: 1em;
    }
    main > section:last-of-type > section:last-of-type p {
        font-size: 1em;
    }
}

/* 
Change top margin for language experience on screens with 530px or less.
This just helps prevent elements from moving around when displying the work section
*/
@media screen and (max-width: 530px) {
    main > section:nth-of-type(2) > section > section section:first-of-type {
        margin-top: -50px;
    }
}