body {
    background-color: black;
    padding-bottom: 30px;
}
main {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}
main > div.info {
    width: 30%;
    /* padding-left: 20px; */
    box-sizing: border-box;
    padding: 0px 30px 0px 20px;
    /* filter: drop-shadow(2px 2px 8px white);; */
    /* box-shadow: 0px 0px 100px 30px #151515; */
    height: 100%;
    align-content: center;
}
main > div.info * {
    margin: 0px;
}
main > div.projectsScrollView {
    width: 70%;
    min-height: 70%;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    box-sizing: border-box;
    padding: 0px 2% 0px 2%;
}
div.projectCard {
    transition: scale 0.3s;
    scale: 1;
    min-width: 430px;
    min-height: 100%;
    /* border: 1px solid black; */
    margin: 20px;
    border-radius: 32px;
    background-color: #121212;
    padding: 20px;
    min-height: 100%;
    box-shadow: 0px 0px 30px -10px rgb(49, 49, 49);
}
div.projectCard:hover {
    transition: scale 0.5s;
    scale: 1.05;
}
div.projectCard img {
    border-radius: 22px;
}
div.projectCard img {
    width: 100%;
    box-shadow: 0px 0px 30px -4px black;
}
div.projectCardContent {
    padding: 0px 20px 0px 20px;
}
div.projectCard h1 {
    font-size: 40px;
}
div.projectCard p {
    margin-top: 15px;
    overflow: scroll;
    max-height: 23vh;
    min-height: 23vh;
}
div.projectCard ul, ul.filterLangs {
    margin: 0px;
    padding: 0px;
}
div.projectCard ul li, ul.filterLangs li {
    font-size: 12px;
    font-weight: 300;
    display: inline;
    /* border: 1px solid black; */
    padding: 1px 5px 1px 5px;
    border-radius: 25px;
}

@media screen and (max-width: 1019px) {
    main {
        flex-direction: column;
        height: fit-content;
        margin-bottom: 70px;
    }

    main div.info {
        padding-top: 50px;
        width: 80%;
        margin: auto;
        text-align: center;
    }
    main div.info p {
        font-size: 1.3em;
    }

    main > div.projectsScrollView {
        width: 100%;
    }
    div.projectsScrollView div.projectCard {
        min-width: 80%;
    }
    div.projectCard h1 {
        font-size: 2.8em;
    }
    div.projectCard p {
        margin-top: 1em;
    }
    div.projectCard ul li, ul.filterLangs li {
        font-size: 1em;
    }
}