/* 
Coded by: Christian Moloci
Project page styles
*/


/* Set the background color */
body {
    background-color: black;
}

/* Main section that contains all the content */
main {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

/* Shows the current selected page in the nav bar */
nav > ul > li:nth-of-type(3) {
    transition: background-color 0.8s;
    backdrop-filter: blur(5px);
    background-color: #121212;
    border-radius: 25px;
    padding: 6px 15px 6px 15px;
}
nav > ul > li:nth-of-type(3):hover {
    transition: background-color 0.8s;
    background-color: #fafafacc;
}
nav > ul > li:nth-of-type(3) * {
    transition: color 0.8s;
    color: white;
}
nav > ul > li:nth-of-type(3):hover * {
    transition: color 0.8s;
    color: black;
}

/* Styles for the info section */
main > section:first-of-type {
    width: 30%;
    box-sizing: border-box;
    padding: 0px 30px 0px 20px;
    height: 100%;
    align-content: center;
}
main > section:first-of-type * {
    margin: 0px;
}

/* Element that contains all the project cards and scrolls sideways */
main > section:last-of-type {
    width: 70%;
    min-height: 70%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    box-sizing: border-box;
    padding: 0px 2% 0px 2%;
}

/* Styles for every project card and their content */
main > section:last-of-type > section {
    transition: scale 0.3s;
    scale: 1;
    min-width: 430px;
    min-height: 100%;
    margin: 20px;
    border-radius: 32px;
    background-color: #121212;
    padding: 20px;
    min-height: 100%;
    box-shadow: 0px 0px 30px -10px rgb(49, 49, 49);
}
main > section:last-of-type > section:hover {
    transition: scale 0.5s;
    scale: 1.05;
}
main > section:last-of-type > section img {
    border-radius: 22px;
}
main > section:last-of-type > section img {
    width: 100%;
    box-shadow: 0px 0px 30px -4px black;
}
main > section:last-of-type > section > section {
    padding: 0px 20px 0px 20px;
}
main > section:last-of-type > section h1 {
    font-size: 40px;
    margin: 20px 0px 20px 0px;
}
main > section:last-of-type > section p {
    margin-top: 15px;
    overflow: scroll;
    max-height: 23vh;
    min-height: 23vh;
}
main > section:last-of-type > section ul {
    margin: 0px;
    padding: 0px;
}
main > section:last-of-type > section ul li {
    font-size: 12px;
    font-weight: 300;
    display: inline;
    /* border: 1px solid black; */
    padding: 1px 5px 1px 5px;
    border-radius: 25px;
}
main > section:last-of-type > section > section section {
    transition: border 1s, background-color 0.5s;
    background-color: white;
    width: fit-content;
    border-radius: 25px;
    padding: 5px 15px 5px 15px;
    margin: auto;
    position: relative;
    bottom: 1px;
    border: 3px solid transparent;
}
main > section:last-of-type section > section a {
    position: relative;
    /* bottom: 0px; */
    top: 100%;
    bottom: 3px;
}
main > section:last-of-type section > section section * {
    transition: color 0.5s;
    color: black;
}
main > section:last-of-type section > section section:hover {
    transition: all 1s;
    background-color: black;
    border: 3px solid white;
}
main > section:last-of-type section > section section:hover * {
    transition: color 1s;
    color: white;
    text-decoration: underline;
}

/* Define drop shadows for language list items */
/* Box 1 */
main > section:last-of-type > section:first-of-type ul li:first-of-type {
    box-shadow: 0px 0px 20px -2px #e34c26;
}
main > section:last-of-type > section:first-of-type ul li:nth-of-type(2) {
    box-shadow: 0px 0px 20px -2px #264de4;
}
/* main > section:last-of-type > section:first-of-type ul li:last-of-type {
    box-shadow: 0px 0px 20px -2px #f0db4f;
} */

/* box 2 */
main > section:last-of-type > section:nth-of-type(2) ul li:first-of-type {
    box-shadow: 0px 0px 20px -2px #f89820;
}
main > section:last-of-type > section:nth-of-type(2) ul li:last-of-type {
    box-shadow: 0px 0px 20px -2px #5382a1;
}

/* Box 3 */
main > section:last-of-type > section:nth-of-type(3) ul li:first-of-type {
    box-shadow: 0px 0px 20px -2px #e34c26;
}
main > section:last-of-type > section:nth-of-type(3) ul li:nth-of-type(2) {
    box-shadow: 0px 0px 20px -2px #264de4;
}
main > section:last-of-type > section:nth-of-type(3) ul li:last-of-type {
    box-shadow: 0px 0px 20px -2px #f0db4f;
}

/* box 4 */
main > section:last-of-type > section:last-of-type ul li:first-of-type {
    box-shadow: 0px 0px 20px -2px #027DFD;
}
main > section:last-of-type > section:last-of-type ul li:last-of-type {
    box-shadow: 0px 0px 20px -2px #5AC5B0;
}

/* For smaller screen widths */
@media screen and (max-width: 1019px) {
    /* Style for body */
    body {
        margin-bottom: 80px;
    }

    /* Style for main */
    main {
        flex-direction: column;
        height: fit-content;
        margin-bottom: 70px;
    }

    /* Style for info */
    main section:first-of-type {
        padding-top: 50px;
        width: 80%;
        margin: auto;
        text-align: center;
    }
    main section:first-of-type p {
        font-size: 1.3em;
    }

    /* Style for the project scroll view and the project cards */
    main > section:last-of-type {
        width: 100%;
    }
    section:last-of-type main > section:last-of-type > section {
        min-width: 80%;
    }
    main > section:last-of-type > section h1 {
        font-size: 2.8em;
    }
    main > section:last-of-type > section p {
        margin-top: 1em;
    }
    main > section:last-of-type > section ul li {
        font-size: 1em;
    }
}