/* 
Coded by: Christian Moloci
A stylesheet that is universal accross all the webpages
*/


/* Specify some fonts */
@font-face {
    font-family: "Madimi One";
    src: url("fonts/MadimiOne-Regular.ttf");
}
@font-face {
    font-family: "Nuito";
    src: url("fonts/Nunito-VariableFont_wght.ttf");
}

aside {
    position: fixed;
    z-index: 10;
    top: 0px;
    right: 0px;
    background-color: hsla(142, 53%, 18%, 0.8);
    backdrop-filter: blur(10px);
    margin: 20px;
    padding: 10px;
    text-align: center;
    color: rgb(240, 240, 240);
    border-radius: 32px;
    cursor: default;
    user-select: none;
    box-shadow: 0px 0px 30px -8px #121212;
}
aside > p {
    font-size: 0.8em;
    padding: 0px;
    margin: 0px;
}
aside > p:last-of-type {
    display: none;
}
aside:active > p:last-of-type {
    display: block;
}
aside:active > p:first-of-type {
    display: none;
}

/* Nav styles */
nav > ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    align-content: center;
    overflow: visible;
    max-height: 45px;
}
nav ul li {
    transition: background-color 0.5s, padding 0.5s;
    background-color: none;
    border-radius: 25px;
    padding: 0px;
    display: inline;
}
nav > ul > li:first-of-type ul, nav > ul > li:first-of-type li {
    display: block;
    margin: 0px;
    padding: 0px;
}
nav > ul > li:first-of-type ul {
    display: none;
    position: absolute;
    bottom: 100%;
    background-color: white;
    box-shadow: 0px 0px 20px -5px rgb(152, 152, 152);
    border-radius: 100px;
    margin-bottom: -47px;
    padding-bottom: 47px;
    z-index: -1;
}
nav > ul > li:first-of-type:hover ul {
    display: block;
}
nav > ul > li:first-of-type a {
    margin: 0px;
    padding: 0px;
}
nav > ul > li:first-of-type i {
    width: 2.3em;
    height: 2.3em;
    border-radius: 100%;
    font-size: 1em;
    padding-top: 0.65em;
    box-sizing: border-box;
    margin: 3px;
}
nav > ul > li:first-of-type i:last-of-type {
    background-color: #006E27;
}
nav > ul > li:first-of-type ul li:first-of-type i {
    background-color: brown;
    cursor: not-allowed;
}
nav > ul > li:first-of-type ul li:last-of-type i {
    background-color: orangered;
    cursor: not-allowed;
}
nav > ul > li:hover:not(:first-of-type) {
    transition: background-color 0.5s, padding 0.5s, margin 0.5s;
    background-color: #fafafa7f;
    border-radius: 25px;
    padding: 6px 15px 6px 15px;
    margin: 0px 5px 0px 5px;
    box-shadow: 0px 0px 20px -5px rgb(152, 152, 152);
}
nav a {
    text-decoration: none;
    color: black;
    margin: 0px 5px 0px 5px;
}
nav {
    position: fixed; 
    bottom: 15px;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
    text-align: center;
    padding: 3px 6px 3px 6px;
    /* border: 1px solid black; */
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px -2px rgb(211, 211, 211);
}

/* Changes the font size in the nav bar when the screen side gets smaller that 600px */
@media screen and (max-width: 600) {
    nav ul li {
        font-size: 1em;
    }
}