.main {
    display: flex;
    padding: 40px 80px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.main .header {
    display: flex;
    width: 350px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;

    .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;

        border-top: 8px solid var(--accent-700, #7EE798);

        h1 {
            color: var(--text-50, #F7F6ED);
        }
    }
}

.main .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
}