<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <template id="code-cards">
        <a href="#" class="project-card-link">
            <div class="project-card">
                <img src="assets/images/placeholder.png" alt="">
                <div class="project-card-text">
                    <h2>Project Title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                </div>
            </div>
        </a>
        
        <a href="#" class="project-card-link">
            <div class="project-card">
                <img src="assets/images/placeholder.png" alt="">
                <div class="project-card-text">
                    <h2>Project Title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                </div>
            </div>
        </a>

        <a href="#" class="project-card-link">
            <div class="project-card">
                <img src="assets/images/placeholder.png" alt="">
                <div class="project-card-text">
                    <h2>Project Title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                </div>
            </div>
        </a>

        <a href="/html/work.html">View all projects.</a>
    </template>

    <template id="music-cards">
        <div class="music-card">
            <iframe 
                data-testid="embed-iframe" 
                style="border-radius:12px" 
                src="https://open.spotify.com/embed/track/6q5kuV3bxd7wzynGhVDknY?utm_source=generator" 
                width="100%" 
                frameBorder="0" 
                allowfullscreen="" 
                allow="autoplay; 
                clipboard-write; 
                encrypted-media; 
                fullscreen; 
                picture-in-picture" 
                loading="lazy">
                
            </iframe>
        </div>
        <div class="music-card">
            <iframe 
                data-testid="embed-iframe" 
                style="border-radius:12px" 
                src="https://open.spotify.com/embed/track/52FTd07gvsWSlMcsUbzR3C?utm_source=generator" 
                width="100%" 
                frameBorder="0" 
                allowfullscreen="" 
                allow="autoplay; 
                clipboard-write; 
                encrypted-media; 
                fullscreen; 
                picture-in-picture" 
                loading="lazy">
                
            </iframe>
        </div>
        <div class="music-card">
            <iframe 
                data-testid="embed-iframe" 
                style="border-radius:12px" 
                src="https://open.spotify.com/embed/track/2lJn6xQA0fbBEA5M6Oi8rd?utm_source=generator" 
                width="100%" 
                frameBorder="0" 
                allowfullscreen="" 
                allow="autoplay; 
                clipboard-write; 
                encrypted-media; 
                fullscreen; 
                picture-in-picture" 
                loading="lazy">
                
            </iframe>
        </div>
        
        <a href="/html/work.html">View all projects.</a>
    </template>
    
</body>
</html>