<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <template id="code-cards">
        <a href="#" class="project-card-link">
            <div class="project-card">
                <img src="assets/images/placeholder.png" alt="">
                <div class="project-card-text">
                    <h2>Project Title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                </div>
            </div>
        </a>
        
        <a href="#" class="project-card-link">
            <div class="project-card">
                <img src="assets/images/placeholder.png" alt="">
                <div class="project-card-text">
                    <h2>Project Title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                </div>
            </div>
        </a>

        <a href="#" class="project-card-link">
            <div class="project-card">
                <img src="assets/images/placeholder.png" alt="">
                <div class="project-card-text">
                    <h2>Project Title</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
                </div>
            </div>
        </a>
    </template>

    <template id="music-cards">
        <p>placeholder for music cards</p>
    </template>
    
</body>
</html>