<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <template id="languages-web">
        <div class="language-card">
            <header>
                <div class="col-1">
                    <h2>HTML</h2>
                    <div class="language-level core">Core</div>
                </div>
                <div class="col-2">
                    <i class="material-symbols-outlined">expand_circle_down</i>
                </div>
            </header>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
            </article>
            
            <div class="link-button">
                <a href="#">Website</a>
            </div>
        </div>
                <div class="language-card">
            <header>
                <div class="col-1">
                    <h2>CSS</h2>
                    <div class="language-level core">Core</div>
                </div>
                <div class="col-2">
                    <i class="material-symbols-outlined">expand_circle_down</i>
                </div>
            </header>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
            </article>
            
            <div class="link-button">
                <a href="#">Website</a>
            </div>
        </div>        
        <div class="language-card">
            <header>
                <div class="col-1">
                    <h2>JavaScript</h2>
                    <div class="language-level core">Core</div>
                </div>
                <div class="col-2">
                    <i class="material-symbols-outlined">expand_circle_down</i>
                </div>
            </header>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
            </article>
            
            <div class="link-button">
                <a href="#">Website</a>
            </div>
        </div>
        <div class="language-card">
            <header>
                <div class="col-1">
                    <h2>PHP</h2>
                    <div class="language-level complex">Server</div>
                </div>
                <div class="col-2">
                    <i class="material-symbols-outlined">expand_circle_down</i>
                </div>
            </header>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
            </article>
            
            <div class="link-button">
                <a href="#">Website</a>
            </div>
        </div>
        <div class="language-card">
            <header>
                <div class="col-1">
                    <h2>Angular</h2>
                    <div class="language-level complex">Framework</div>
                </div>
                <div class="col-2">
                    <i class="material-symbols-outlined">expand_circle_down</i>
                </div>
            </header>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
            </article>
            
            <div class="link-button">
                <a href="#">Website</a>
            </div>
        </div>
    </template>

    <template id="languages-object-oriented-programming">
        <div class="language-card">
            <header>
                <div class="col-1">
                    <h2>Java</h2>
                    <div class="language-level complex">OOP</div>
                </div>
                <div class="col-2">
                    <i class="material-symbols-outlined">expand_circle_down</i>
                </div>
            </header>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
            </article>
            
            <div class="link-button">
                <a href="#">Website</a>
            </div>
        </div>
    </template>

    <template id="languages-software-tools">
        <div class="language-card">
            <header>
                <div class="col-1">
                    <h2>Git</h2>
                    <div class="language-level core">Tools</div>
                </div>
                <div class="col-2">
                    <i class="material-symbols-outlined">expand_circle_down</i>
                </div>
            </header>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
            </article>
            
            <div class="link-button">
                <a href="#">Website</a>
            </div>
        </div>
        <div class="language-card">
            <header>
                <div class="col-1">
                    <h2>GitHub</h2>
                    <div class="language-level core">Tools</div>
                </div>
                <div class="col-2">
                    <i class="material-symbols-outlined">expand_circle_down</i>
                </div>
            </header>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
            </article>
            
            <div class="link-button">
                <a href="#">Website</a>
            </div>
        </div>
        <div class="language-card">
            <header>
                <div class="col-1">
                    <h2>AI</h2>
                    <div class="language-level medium">Tools</div>
                </div>
                <div class="col-2">
                    <i class="material-symbols-outlined">expand_circle_down</i>
                </div>
            </header>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
            </article>
            
            <div class="link-button">
                <a href="#">Website</a>
            </div>
        </div>    
    </template>

    <template id="languages-operating-systems">
        <div class="language-card">
            <header>
                <div class="col-1">
                    <h2>macOS</h2>
                    <div class="language-level medium">OS</div>
                </div>
                <div class="col-2">
                    <i class="material-symbols-outlined">expand_circle_down</i>
                </div>
            </header>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
            </article>
            
            <div class="link-button">
                <a href="#">Website</a>
            </div>
        </div>
                <div class="language-card">
            <header>
                <div class="col-1">
                    <h2>Linux</h2>
                    <div class="language-level medium">OS</div>
                </div>
                <div class="col-2">
                    <i class="material-symbols-outlined">expand_circle_down</i>
                </div>
            </header>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
            </article>
            
            <div class="link-button">
                <a href="#">Website</a>
            </div>
        </div>
                <div class="language-card">
            <header>
                <div class="col-1">
                    <h2>Windows</h2>
                    <div class="language-level medium">OS</div>
                </div>
                <div class="col-2">
                    <i class="material-symbols-outlined">expand_circle_down</i>
                </div>
            </header>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quidem.</p>
            </article>
            
            <div class="link-button">
                <a href="#">Website</a>
            </div>
        </div>
    </template>
    
</body>
</html>