<!-- 
    Author: Christian Moloci
    Share Dialog Component
-->

<template id="share-dialog">
    <div>
        <header>
            <h1>Share:</h1>
            <div id="close-share-dialog"><i class="material-symbols-outlined">close</i></div>
        </header>
        <div class="content">
            <h3>Copy link:</h3>
            <div class="link-box">
                <p>https://christianmoloci.com/</p>
                <div id="copy-link"><i class="material-symbols-outlined">content_copy</i></div>
            </div>
            <h3>Share via:</h3>
            <ul>
                <li><a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//christianmoloci.com/" target="_blank"><img src="/assets/brand-logos/colored/LI-In-Bug.png" alt=""></a></li>
                <li><a href="https://www.facebook.com/sharer/sharer.php?u=christianmoloci.com" target="_blank"><img src="/assets/brand-logos/colored/Facebook_Logo_Primary.png" alt=""></a></li>
                <li><a href="https://x.com/intent/post?text=christianmoloci.com" target="_blank"><img src="/assets/brand-logos/colored/logo-black.png" alt=""></a></li>
                <li><a href="mailto:?subject=Check%20out%20this%20portfolio&body=You%20have%20to%20check%20out%20this%20portfolio:%20https%3A//christianmoloci.com/" target="_blank"><img src="/assets/brand-logos/light/email_light.png" alt=""></a></li>
                <!-- <li><a href="sms:?&body=https://christianmoloci.com/">sms</a></li> -->
            </ul>
        </div>
    </div>
</template>