.main {
    display: flex;
    padding: 40px 20px 0;
    max-height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
}

.main .header {
    h1 {
        color: var(--text-50, #121008);
    }
}

.main .imageInfo {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

    border-radius: 16px;
    border: 1px solid var(--primary-200, #D8D5C0);
    background: var(--primary-100, #ECEADF);

    h2 {
        color: var(--text-50, #121008);
        font-family: var(--heading-typeface, Geom) sans-serif;
        font-size: var(--h4, 24.96px);
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .data {
        display: flex;
        padding: 0 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
    }

    small {
        color: var(--text-100, #232010);
        font-family: var(--body-typeface, Inter) sans-serif;
        font-size: var(--small, 12.8px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        strong {
            font-weight: 700;
        }
    }
}

.main .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    padding: 20px 0;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: auto;

    .selected {
        opacity: 0.8;
        border-radius: 15px;
        border: 3px solid var(--accent-700)
    }
}
