.main {
    display: flex;
    width: 100%;
    padding: 40px 4vw 0;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    height: calc(100vh - 95px);
    overflow: hidden;

    /* Main Height should always fill remainder of screen */
    @media screen and (max-width: 500px) {
        /* This ensures main grows when header shrinks*/
        height: calc(100vh - 64px);
    }
}
/* Header Section */
.header {
    display: flex;
    max-width: 350px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

    .headerContent {
        display: flex;
        padding: 10px 14px;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        align-self: stretch;

        border-left: 8px solid var(--accent-700, #7EE798);

        h4 {
            color: var(--accent-700, #7EE798);
        }
        h1 {
            color: var(--secondary-900, #E1E6EA);
        }
    }
}

/* Main Page Content */
.content {
    display: flex;
    padding: 10px 8vw 40px 10px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    flex: 1 0 0;
    height: 100%;

    overflow-y: scroll;

    section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;

        h1 {
            color: var(--text-50, #F7F6ED);
        }
    }
}

/* Language Section */
.languages {
    .langSection {
        display: flex;
        padding-left: 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;

        h2 {
            color: var(--text-50, #F7F6ED);
        }

        .languageCards {
            display: flex;
            padding-left: 30px;
            align-items: flex-start;
            align-content: flex-start;
            gap: 20px 40px;
            align-self: stretch;
            flex-wrap: wrap;
        }
    }
}

/* Education Section */
.education {
    .educationCards {
        display: flex;
        width: 100%;
        padding-left: 10px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
    }
}