.adminSidebar {
    display: flex;
    width: 400px;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;

    border-right: 1px solid var(--primary-200, #D8D5C0);
    background: var(--primary-100, #ECEADF);
}

.adminSidebar .profile {
    display: flex;
    padding: 40px 10px 20px 10px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;

    border-bottom: 1px solid var(--primary-200, #D8D5C0);
    background: var(--secondary-100, #E1E6EA);

    .profilePic {
        width: 160px;
        height: 160px;
        aspect-ratio: 1/1;
        border-radius: 1000px;

        img {
            display: block;
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 1000px;
        }
    }

    .profileInfo {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            color: var(--text-50, #121008);
            font-family: var(--body-typeface, Inter) sans-serif;
            font-size: var(--h2, 39.04px);
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        small {
            color: var(--text-100, #232010);

            /* body */
            font-family: var(--body-typeface, Inter) sans-serif;
            font-size: var(--body, 16px);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.adminSidebar .links {
    display: flex;
    padding: 40px 20px 20px 20px;
    flex-direction: column;
    align-items: stretch;
    gap: 6px;
    flex: 1 0 0;
    align-self: stretch;
    overflow: auto;

    a {
        display: flex;
        padding: 10px;
        align-items: center;
        gap: 10px;

        border-radius: 12px;

        svg {
            fill: var(--text-100, #C4CCD4);
            height: 18px;
        }
    }
    a:hover {
        outline: 1px solid var(--primary-300, #C4CCD4);
        background: var(--primary-200, #E1E6EA);
    }
    .active {
        outline: 1px solid var(--secondary-200, #C4CCD4);
        background: var(--secondary-100, #E1E6EA);
    }
    a:active {
        outline: 1px solid var(--secondary-300, #C4CCD4);
        background: var(--secondary-200, #E1E6EA);
    }
}

.adminSidebar .footer {
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    align-self: stretch;

    a {
        display: flex;
        padding: 10px;
        align-items: center;
        gap: 10px;

        border-radius: 12px;
        outline: 1px solid var(--secondary-200, #C4CCD4);
        background: var(--secondary-100, #E1E6EA);

        svg {
            fill: var(--text-100, #C4CCD4);
            height: 18px;
        }
    }
    a:hover {
        outline: 1px solid var(--primary-300, #C4CCD4);
        background: var(--primary-200, #E1E6EA);
    }
    a:active {
        outline: 1px solid var(--secondary-300, #C4CCD4);
        background: var(--secondary-200, #E1E6EA);
    }
}