.main {
    display: flex;
    max-height: calc(100vh - 95px);
    padding: 40px 20px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;

    /* Height should always fill remainder of screen */
    @media screen and (max-width: 500px) {
        /* This ensures main grows when header shrinks*/
        height: calc(100vh - 64px);
    }
}
.main .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    h1 {
        color: var(--text-50, #121008);
    }
}

.main .cards {
    display: flex;
    padding: 10px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    overflow: auto;
}